body {
  font-family: 'Gruppo', sans-serif;
}

.animate-flash {
  animation: flash 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes flash {
  0%, 100% {
    opacity: .5;
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
}
